name: Build bun image

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'
  push:
    branches:
      - main
    paths:
      - 'images/bun/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: docker/build-push-action@v5
        with:
          push: true
          tags: faasjs/bun:${{ github.sha }},faasjs/bun:alpine,faasjs/bun:latest
          context: ./images/bun
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - uses: docker/build-push-action@v5
        with:
          push: true
          tags: faasjs/bun:${{ github.sha }},faasjs/bun:debian
          context: ./images/bun/debian.Dockerfile
          cache-from: type=gha
          cache-to: type=gha,mode=max
