name: Unit

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - packages/**
      - .github/workflows/unit.yml
      - package-lock.json
      - package.json
  pull_request:
    paths:
      - .github/workflows/unit.yml
      - packages/**
      - package-lock.json
      - package.json

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          cache: npm
          node-version: 24
      - name: Install
        run: npm install
      - name: Prepack
        run: npm run build
      - name: Run Tests
        run: npm run ci
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
