name: Unit

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - packages/**
      - .github/workflows/unit.yml
      - .mise.toml
      - package-lock.json
      - package.json
  pull_request:
    paths:
      - .github/workflows/unit.yml
      - .mise.toml
      - packages/**
      - package-lock.json
      - package.json

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - name: Install
        run: mise exec -- npm install
      - name: Prepack
        run: mise exec -- npm run build
      - name: Run Tests
        run: mise exec -- npm run ci
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
